
<h0>Проверка актуальности версий</h0><br><br>
<table border="2">
  <tr>
    <th>Версия</th>
    <th>Посл. проверка</th>
    <th>ИФНС</th>
<% @lcdbv.each do |rlcdbv| %>
  <tr>
    <td><%= rlcdbv.Version %></td>
    <td><%= rlcdbv.Date.strftime("%d.%m.%Y в %H:%M") %></td>
    <td><%= rlcdbv.SONO %></td>
  </tr>
<% end %>
</table><br><br>
<h0>Дата установки последней версии</h0><br><br>
<table border="2">
  <tr>
    <th>Версия</th>
    <th>Время проверки</th>
    <th>ИФНС</th>
<% @fcdbv.each do |rfcdbv| %>
  <tr>
    <td><%= rfcdbv.Version %></td>
    <td><%= rfcdbv.Date.strftime("%d.%m.%Y в %H:%M") %></td>
    <td><%= rfcdbv.SONO %></td>
  </tr>
<% end %>
</table>


<h0>Укажите необходимую версию ПО для просмотра даты</h0><br><br>

<%= form_with method: :get do |form| %>
  <%= form.text_field :version %>
  <%= form.submit %>
  <%= scope = Sdbver %>
  <%= scope = scope.where(title: params[:version]) if params[:version] %>
  <%= @sdbvers = scope.all %>
  <%= render 'form' %>
<% end %>
