
<% if @last_check_dbvers.present? %>
<h0>Проверка актуальности версий</h0><br><br>
<table border="2">
  <tr>
    <th>Версия</th>
    <th>Посл. проверка</th>
    <th>ИФНС</th>
  </tr>
  <%= render @last_check_dbvers %>
</table>
<% end %>
<br><br>
<% if @first_check_dbvers.present? %>
<h0>Дата установки последней версии</h0><br><br>
<table border="2">
  <tr>
    <th>Версия</th>
    <th>Время проверки</th>
    <th>ИФНС</th>
  </tr>
  <%= render @first_check_dbvers %>
</table>
<% end %>
<br><br>
<% if @select_version_dbvers.present? %>
  <table border="2">
  <tr>
    <th>Версия</th>
    <th>Дата установки</th>
    <th>ИФНС</th>
  </tr>
    <%= render @select_version_dbvers %>
  </table>
<% end %>
<br>
<h0>Укажите необходимую версию ПО для просмотра даты:</h0><br><br>
<%= form_with method: :get, local: true do |form| %>
  <%= form.text_field :version %>
  <%= form.submit %>
<% end %>
